<?xml version="1.0"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="employment.esc.departmentPrincipal" type="Employment.Esc.Framework.Communication.Configuration.DepartmentPrincipalConfigurationSection, Employment.Esc.Framework.Communication" />
  </configSections>
  
  <appSettings>
    <!-- Mainframe Settings -->
    <!--<add key="DbConn_MF" value="url=http://fbrukdev.network;port=4013;secretKey=HISECRET" />--><!-- DE -->
    <add key="DbConn_MF" value="url=http://fbrukdev.network;port=4204;secretKey=HISECRET" /><!-- DH -->
    <!--Adjust the Mainframe port number according to the region to use-->
    <!--<add key="CvsMapPath" value="C:\Program Files (x86)\ESG SDK\SDK\Stream\ESC Release\XML\" />-->
    <!--<add key="CvsMapPath" value="c:\Userdata\ESG SDK\SDK\Mainframe\XML\" />-->
    <add key="CvsMapPath" value="c:\Userdata\ESG SDK\SDK\Mainframe\XML\DH\XML\" />
    <!-- Trust Gateway -->
    <add key ="GatewayUrl" value="http://trustgatewayinternal.hosts.network/gatewayservice.asmx?DEV"/>
    <!--This needs to be set for the M/F region you want to use -->
    <add key="Environment" value="DEVFIX" />
    <add key="Roles" value="NATION\APP_PAAM_DEV, NATION\APP_PAAM_ADMIN_DEV, NATION\APP_PAAM_NO_DEV, NATION\APP_PAAM_QLD_DEV, NATION\APP_PAAM_NSW_DEV, NATION\APP_PAAM_NT_DEV, NATION\APP_PAAM_SA_DEV, NATION\APP_PAAM_TAS_DEV, NATION\APP_PAAM_VIC_DEV, NATION\APP_PAAM_WA_DEV" />

    <!--  Active Directory Connection string -->
    <add key ="LdapGroupQueryPath" value="LDAP://nation.radix/CN={0},OU=Resource,OU=General,OU=Groups,OU=Department,DC=nation,DC=radix"/>
    <add key ="LdapUserQueryPath" value="LDAP://nation.radix/CN={0},OU=General,OU=Users,OU=Department,DC=nation,DC=radix"/>

  </appSettings>

  <connectionStrings>
    <!-- Test -->
    <!--<add name="ProgramAssuranceExpressConnectionString" connectionString="Data Source=DRDSQLES05.Datasources.network;Initial Catalog=ProgramAssurance;Integrated Security=True;Timeout=30"
    providerName="System.Data.SqlClient" />
  <add name="Elmah.Sql" connectionString="Data Source=DRDSQLES05.Datasources.network;Initial Catalog=ProgramAssurance;Trusted_Connection=true"/>
  <add name="Db_ConnADW" connectionString="Data Source=DRDSQLES05.Datasources.network;Initial Catalog=ADW;Integrated Security=SSPI" />-->

    <!-- Dev -->
    <!--<add name="ProgramAssuranceConnectionString"
         connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ProgramAssurance;Integrated Security=True;Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="Elmah.Sql" connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ProgramAssurance;Trusted_Connection=true"/>
    <add name="Db_ConnADW" connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ADW;Integrated Security=SSPI" />-->
    <!-- Dev Fix -->
    <add name="ProgramAssuranceConnectionString" 
         connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ProgramAssurance;Integrated Security=True;Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="Elmah.Sql" 
         connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ProgramAssurance;Trusted_Connection=true"/>
    <add name="Db_ConnADW" 
         connectionString="Data Source=DRDSQLES23.Datasources.network;Initial Catalog=ADW;Integrated Security=SSPI" />

    <!--TestFix -->
    <!--<add name="ProgramAssuranceConnectionString"
         connectionString="Data Source=DRDSQLES17.Datasources.network;Initial Catalog=ProgramAssurance;Integrated Security=True;Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="Elmah.Sql"
         connectionString="Data Source=DRDSQLES17.Datasources.network;Initial Catalog=ProgramAssurance;Trusted_Connection=true"/>
    <add name="Db_ConnADW"
         connectionString="Data Source=DRDSQLES17.Datasources.network;Initial Catalog=ADW;Integrated Security=SSPI" />-->
    
  </connectionStrings>

  <employment.esc.departmentPrincipal roles="DVO,UserType_DEWR" contracts="xxx" site="USRS" organisation="DEPT" name="ProgAssu" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
