<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="NflConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\nfl\\team.dbf;OLE DB Services=-4"/>
    <add name="TflConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tycoon\\comp.dbf;OLE DB Services=-4"/>
    <add name="CtlConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tfl_ctl.dbf;OLE DB Services=-4"/>
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>

    <targets>
      <target name="file" xsi:type="File" 
              fileName="./logs/TflService-${shortdate}.log"
              layout="${longdate} ${message}"/>
      <target name="console" 
              xsi:type="Console" 
              layout="${longdate} ${stacktrace} ${message}"/>
    </targets>

    <rules>
      <!-- summary info only to the log -->
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
</configuration>