<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add 
      name="NflConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\nfl\\team.dbf" />
    <add 
      name="TflConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tycoon\\comp.dbf" />
    <add 
      name="CtlConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tfl_ctl.dbf" />
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/" />

    <targets>
      <target
        name="file"
        xsi:type="File"
        fileName="./logs/GerardServer-${shortdate}.log"
        layout="${longdate} ${message}" />
      <target
        name="console"
        xsi:type="Console"
        layout="${time} ${message}" />
    </targets>

    <rules>
      <!-- summary info only to the log -->
      <logger name="*" minlevel="Info" writeTo="console,file" />
      <!--<logger name="Butler.Models.MediaJob" minlevel="Info" writeTo="file1" />-->
    </rules>
  </nlog>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>