<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NflConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\nfl\\team.dbf" />
    <add name="TflConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tycoon\\comp.dbf" />
    <add name="CtlConnectionString" 
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tfl_ctl.dbf" />
  </connectionStrings>
</configuration>