<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add 
      name="NflConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\nfl\\team.dbf" />
    <add 
      name="TflConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tycoon\\comp.dbf" />
    <add 
      name="CtlConnectionString" 
      connectionString="Provider=VFPOLEDB.1;Data Source=e:\\tfl\\tfl_ctl.dbf" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>