<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <container name="ProgramAssuranceTool.Infrastructure">

    <!-- Global Filter Registration -->    
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IRegistration, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Infrastructure.Registrations.GlobalFilterRegistration, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Infrastructure.Registrations.GlobalFilterRegistration">
      <lifetime type="transient" />
    </register>

    <!-- Route Registration -->    
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IRegistration, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Registrations.RouteRegistration, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Registrations.RouteRegistration">
      <lifetime type="transient" />
    </register>
    
    <!-- Bundle Registration -->
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IRegistration, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Registrations.BundleRegistration, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Registrations.BundleRegistration">
      <lifetime type="transient" />
    </register>

    <!-- ModelMetadataProvider  Registration -->
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IRegistration, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Infrastructure.Registrations.ModelMetadataProviderRegistration, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Infrastructure.Registrations.ModelMetadataProviderRegistration">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IBuildManager, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Infrastructure.Wrappers.BuildManagerWrapper, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Infrastructure.Wrappers.BuildManagerWrapper">
      <lifetime type="singleton" />
    </register>
    
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IConfigurationManager, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Infrastructure.Wrappers.ConfigurationManagerWrapper, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Infrastructure.Wrappers.ConfigurationManagerWrapper">
      <lifetime type="singleton" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReportService, ProgramAssuranceTool"
          mapTo="ProgramAssuranceTool.Infrastructure.Services.ReportService, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Infrastructure.Services.ReportService">
      <lifetime type="singleton" />
    </register>

    <!-- Controllers -->
    <register type="System.Web.Mvc.IController, System.Web.Mvc" 
              mapTo="ProgramAssuranceTool.Controllers.HomeController, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Controllers.HomeController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.ProjectController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.ProjectController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.BulletinController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.BulletinController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.AttachmentController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.AttachmentController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.ReportController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.ReportController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.SampleController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.SampleController">
      <lifetime type="transient" />
    </register>
    
    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.UploadController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.UploadController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.ReviewController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.ReviewController">
      <lifetime type="transient" />
    </register>
    
    <register type="System.Web.Mvc.IController, System.Web.Mvc"
          mapTo="ProgramAssuranceTool.Controllers.CheckListController, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Controllers.CheckListController">
      <lifetime type="transient" />
    </register>

    <register type="System.Web.Mvc.IController, System.Web.Mvc"
      mapTo="ProgramAssuranceTool.Controllers.QuestionnaireController, ProgramAssuranceTool"
      name="ProgramAssuranceTool.Controllers.QuestionnaireController">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IControllerDependencies, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Interfaces.ControllerDependencies, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Interfaces.ControllerDependencies">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IVirtualPathService, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Interfaces.VirtualPathService, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Interfaces.VirtualPathService">
      <lifetime type="transient" />
    </register>

    <!-- Services -->
    <register type="ProgramAssuranceTool.Interfaces.IPatService, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.PatService, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.PatService">
      <lifetime type="singleton" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.ICacheService, ProgramAssuranceTool"
                  mapTo="ProgramAssuranceTool.Infrastructure.Services.HttpCacheService, ProgramAssuranceTool"
                  name="ProgramAssuranceTool.Infrastructure.Services.HttpCacheService">
      <lifetime type="singleton" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IAuditService, ProgramAssuranceTool"
                  mapTo="ProgramAssuranceTool.Infrastructure.Services.AuditService, ProgramAssuranceTool"
                  name="ProgramAssuranceTool.Infrastructure.Services.AuditService">
      <lifetime type="singleton" />
    </register>

    <!-- Reports -->
    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool" 
              mapTo="ProgramAssuranceTool.Reports.ComplianceReport, ProgramAssuranceTool" 
              name="ProgramAssuranceTool.Reports.ComplianceReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Reports.SiteVisitReport, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Reports.SiteVisitReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
          mapTo="ProgramAssuranceTool.Reports.FindingSummaryReport, ProgramAssuranceTool"
          name="ProgramAssuranceTool.Reports.FindingSummaryReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Reports.ProgressReport, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Reports.ProgressReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Reports.DashboardReport, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Reports.DashboardReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Reports.ProviderSummaryReport, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Reports.ProviderSummaryReport">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Infrastructure.Interfaces.IReport, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Reports.ProjectTypeReport, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Reports.ProjectTypeReport">
      <lifetime type="transient" />
    </register>

    <!-- Repositories -->
    <register type="ProgramAssuranceTool.Interfaces.IAdwRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.AdwRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.AdwRepository">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IProjectRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ProjectRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ProjectRepository">
      <lifetime type="transient" />
    </register>
    
    <register type="ProgramAssuranceTool.Interfaces.IUploadRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.UploadRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.UploadRepository">
      <lifetime type="transient" />
    </register>  

    <register type="ProgramAssuranceTool.Interfaces.IReviewRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ReviewRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ReviewRepository">
      <lifetime type="transient" />
    </register>  
    
    <register type="ProgramAssuranceTool.Interfaces.IProjectAttachmentRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ProjectAttachmentRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ProjectAttachmentRepository">
      <lifetime type="transient" />
    </register>  
    
    <register type="ProgramAssuranceTool.Interfaces.IClaimsRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ClaimsRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ClaimsRepository">
      <lifetime type="transient" />
    </register>      

    <register type="ProgramAssuranceTool.Interfaces.ISampleRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.SampleRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.SampleRepository">
      <lifetime type="transient" />
    </register>      

    <register type="ProgramAssuranceTool.Interfaces.IProjectContractRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ProjectContractRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ProjectContractRepository">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IBulletinRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.BulletinRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.BulletinRepository">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.ICheckListRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.CheckListRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.CheckListRepository">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IQuestionnaireRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.QuestionnaireRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.QuestionnaireRepository">
      <lifetime type="transient" />
    </register>

    <register type="ProgramAssuranceTool.Interfaces.IControlRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.ControlRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.ControlRepository">
      <lifetime type="transient" />
    </register>
    
    <register type="ProgramAssuranceTool.Interfaces.IUserSettingsRepository, ProgramAssuranceTool"
              mapTo="ProgramAssuranceTool.Repositories.UserSettingsRepository, ProgramAssuranceTool"
              name="ProgramAssuranceTool.Repositories.UserSettingsRepository">
      <lifetime type="transient" />
    </register>  
    
  </container>
  
</unity>
