<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,&#xD;&#xA;            log4net-net-1.0" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="NflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\nfl\\team.dbf" />
    <add name="TflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tycoon\\comp.dbf" />
    <add name="CtlConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tfl_ctl.dbf" />
  </connectionStrings>
  <appSettings>
    <!-- Output to Nerdstick config-->    
    <!--<add key="PrimaryDrive" value="e"/>
    <add key="OutputDirectory" value="//public//GridStat//" />-->
    
    <!-- MacMini config-->
    <!--<add key="PrimaryDrive" value="c"/>
    <add key="OutputDirectory" value="//Users//Steve//Dropbox//GridStat//" />--> 
    
    <!-- Laptop config-->
    <add key="PrimaryDrive" value="d"/>
    <add key="OutputDirectory" value="//Dropbox//GridStat//" />

    <!-- Surface config-->
    <!--<add key="PrimaryDrive" value="c"/>
    <add key="OutputDirectory" value="//Users//Steve//Dropbox//GridStat//" />-->
    
    
    <add key="OldMatrix" value="~True" />   
    <!--quick takes about 6 mins  -->
    <add key="NewFormat" value="~True" />
    <!-- needed for projections -->
    <add key="Roster" value="~True" />
    <add key="GameLog" value="False" />
    <add key="HideBackups" value="False" />
    <add key="HideReserves" value="False" />
    <add key="HideInjuries" value="False" />
    <add key="AllPlayerGames" value="False" />
    <add key="ShowPerformance" value="False" />
    <add key="Rankings" value="0" />
    <!-- Pre game rankings? -->
    <add key="Projections" value="~True" />
    <!-- currently uses Unit ratings for Projecting the Playoffs -->
    <add key="TeamCards" value="~True" />
    <!-- takes about an hour  -->
    <add key="Kickers" value="False" />
    <add key="PlayerReports" value="False" />
    <!--takes time may take a couple-->
    <add key="PlayerCSV" value="~True" />
    <!-- import this into ListPro - allso takes too long -->
    <add key="Experience" value="~True" />
    <!-- do in Pre-season  -->
    <add key="VictoryPoints" value="X" />
    <add key="BalanceReport" value="~Done-Aug-08-True" />
    <!-- Preseason report on last years Run vs Pass Tendency takes 3 hrs -->
    <add key="OffensiveLine" value="False" />
    <add key="LineupCards" value="~True" />
    <add key="SuggestLineup" value="X" />
    <add key="MatchUps" value="X" />
    <add key="TeamMetrics" value="0" />
    <add key="Plays" value="X" />
    <add key="BackTest" value="broken" />
    <add key="Scorers" value="X" />
    <add key="RateWR" value="X" />
    <add key="FAMarket" value="~True" />
    <!--till season begins-->
    <add key="FreeAgents" value="~True" />
    <add key="SoS" value="~True" />
    <add key="FrequencyTables" value="~True" />
    <!-- prg="PlayerOutput -->
    <add key="UnitReports" value="~True" />
    <!-- prg="UnitReport" takes a long time 6 hours-->
    <add key="GridStats" value="~True" />
    <!-- Gridstats Roster summary report  -->
    <add key="HotList" value="~True" />
    <add key="NFLUK" value="X" />
    <add key="StarRatings" value="X" />
    <add key="GSPerformance" value="True" />
    <!-- GS TD reports by category  JustBeforeWeek1-->
    <add key="EspnPerformance" value="True" />
    <add key="DefensiveScoring" value="True" />
    <add key="Starters" value="~True" />
    <!-- takes about 30 mins  -->
    <add key="UnitsByWeek" value="~True" />
    <add key="ESPN" value="X" />
    <add key="Returners" value="X" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Hotlist"          value="SS,SF,DC,GB,NO,NE,DB,CI,IC"  />  
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="mySwitch" value="3" />
    </switches>
  </system.diagnostics>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs\log4net.log" />
      <param name="AppendToFile" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="ROSTERGRID PROCESSING LOG &#xD;&#xA;" />
        <param name="Footer" value="-----------------------===End of Log===-------------------------- &#xD;&#xA;" />
        <param name="ConversionPattern" value="%date{dd-MMM HH:mm:ss}  %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
  </log4net>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="c:\userdata\temp\rostergrid-${shortdate}.log" layout="${message}" />
      <target name="ds" xsi:type="OutputDebugString" />
      <target name="console" xsi:type="Console" layout="${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console,file" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>