<div id="calendarCategory-dialog-form" class=" modal fade" title="Select category for new event">@*ui-dialog-content ui-widget-content*@
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Select category for new event</h4>
                </div>
                <div class="modal-body">
                    <div class="radio-button-list">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create New Event</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- #modal-message -->
<div class="modal modal-message fade" id="modal-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p</p>
                <p></p>
            </div>
        </div>
    </div>
</div>