<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name='serviceBus' type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>

    <section name='sqlServer' type="Shuttle.ESB.SqlServer.SqlServerSection, Shuttle.ESB.SqlServer"/>
  </configSections>

  <sqlServer
    subscriptionManagerConnectionStringName="Subscription"
  />
  
  <serviceBus>
    <inbox
      workQueueUri="msmq://./shuttle-subscriber-work"
      errorQueueUri="msmq://./shuttle-error"
      />

  </serviceBus>

  <connectionStrings>
    <add name="Subscription"
         connectionString="data source=.\sqlexpress;initial catalog=shuttle-tutorial;integrated security-true"
         providerName= "System.Data.SqlClient"
         />
  </connectionStrings>
</configuration>