
@model TflWebApi.ViewModels.FreeAgentsViewModel
@{ ViewBag.Title = "Free Agent Query"; }
<div class="panel panel-success">
    <div class="panel-heading"><h4>Free Agents</h4></div>
    <div class="panel-body">
        @using ( Html.BeginForm() )
        {
            <div class="form-group">
                <label>Which Category?</label>
                @Html.DropDownListFor( x => x.PlayerCategory, new[] {
new SelectListItem() {Text = "QB",
Value = "1"},
new SelectListItem() {Text = "RB",
Value = "2"}
}, "Choose an option", new { @class = "form-control" } )
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Submit Query" />
            </div>
        }
    </div>
</div>

