@{ ViewBag.Title = "TFL Stuff!";}
<div class="text-center">
    <h2>Lets Party!</h2>
    
    <h3>Options as buttons</h3>
    @Html.ActionLink( "Free Agents", "FreeAgents", null, new { @class = "btn btn-success" } )
</div>