<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container name="Employment.Web.Mvc.Infrastructure">
    <extension type="Employment.Web.Mvc.Infrastructure.Unity.ContainerExtensions.PropertyInjectionContainerExtension, Employment.Web.Mvc.Infrastructure.Unity" />
    <instance name="IMappingEngine" type="AutoMapper.IMappingEngine, AutoMapper" typeConverter="Employment.Web.Mvc.Infrastructure.TypeConverters.MappingEngineTypeConverter, Employment.Web.Mvc.Infrastructure" />
    <instance name="IProfileExpression" type="AutoMapper.IProfileExpression, AutoMapper" typeConverter="Employment.Web.Mvc.Infrastructure.TypeConverters.ProfileExpressionTypeConverter, Employment.Web.Mvc.Infrastructure" />
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IClient, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Client, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Client">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Unity.Registrations.FilterAttributeFilterProviderRegistration, Employment.Web.Mvc.Infrastructure.Unity" name="Employment.Web.Mvc.Infrastructure.Unity.Registrations.FilterAttributeFilterProviderRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ModelBinderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ModelBinderRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.FilterProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.FilterProviderRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ModelMetadataProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ModelMetadataProviderRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.AreaRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.AreaRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.GlobalFilterRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.GlobalFilterRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ViewEngineRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ViewEngineRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ModelValidatorProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ModelValidatorProviderRegistration">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IBuildManager, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Wrappers.BuildManagerWrapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Wrappers.BuildManagerWrapper">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IBootstrapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Unity.UnityBootstrapper, Employment.Web.Mvc.Infrastructure.Unity" name="Employment.Web.Mvc.Infrastructure.Unity.UnityBootstrapper">
      <lifetime type="transient" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Mappers.NullStringMapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Mappers.NullStringMapper">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Mappers.AdwMapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Mappers.AdwMapper">
      <lifetime type="transient" />
    </register>-->
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IConfigurationManager, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Wrappers.ConfigurationManagerWrapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Wrappers.ConfigurationManagerWrapper">
      <lifetime type="singleton" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Infrastructure.Controllers.InfrastructureController, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Controllers.InfrastructureController">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IAdwService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.AdwService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.AdwService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IAdwAdminService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.AdwAdminService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.AdwAdminService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.ICacheService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.CacheService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.CacheService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.ISessionService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.SessionService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.SessionService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IUserService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.UserService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.UserService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IReportService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.ReportService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.ReportService">
      <lifetime type="singleton" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IContainerConfigurationService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.ContainerConfigurationService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.ContainerConfigurationService">
      <lifetime type="singleton" />
    </register>
  </container>
  <container name="Employment.Web.Mvc.Rhea">
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Rhea.Registrations.RouteRegistration, Employment.Web.Mvc.Rhea" name="Employment.Web.Mvc.Rhea.Registrations.RouteRegistration">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Rhea.Controllers.AjaxController, Employment.Web.Mvc.Rhea" name="Employment.Web.Mvc.Rhea.Controllers.AjaxController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Rhea.Controllers.DefaultController, Employment.Web.Mvc.Rhea" name="Employment.Web.Mvc.Rhea.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
  </container>
  <container name="Employment.Web.Mvc.Service.Implementation">
    <register type="Employment.Web.Mvc.Service.Interfaces.Employer.IEmployerService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.Employer.EmployerService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.Employer.EmployerService">
      <lifetime type="singleton" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Service.Implementation.Employer.EmployerMapper, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.Employer.EmployerMapper">
      <lifetime type="transient" />
    </register>-->
    <register type="Employment.Web.Mvc.Service.Interfaces.HelpDesk.IHelpDeskService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskService">
      <lifetime type="singleton" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskMapper, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskMapper">
      <lifetime type="transient" />
    </register>-->
  </container>

  <container name="Employment.Web.Mvc.Area.Example">
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.DefaultController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.GridController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.GridController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.SelectionController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.SelectionController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.ButtonController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.ButtonController">
      <lifetime type="transient" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.Example.Mappers.ExampleMapper, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Mappers.ExampleMapper">
      <lifetime type="transient" />
    </register>-->
  </container>

  <container name="Employment.Web.Mvc.Area.Employer">
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Employer.Controllers.DefaultController, Employment.Web.Mvc.Area.Employer" name="Employment.Web.Mvc.Area.Employer.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.Employer.Mappers.EmployerMapper, Employment.Web.Mvc.Area.Employer" name="Employment.Web.Mvc.Area.Employer.Mappers.EmployerMapper">
      <lifetime type="transient" />
    </register>-->
  </container>

  <container name="Employment.Web.Mvc.Area.HelpDesk">
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.HelpDesk.Controllers.DefaultController, Employment.Web.Mvc.Area.HelpDesk" name="Employment.Web.Mvc.Area.HelpDesk.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
    <!--<register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.HelpDesk.Mappers.HelpDeskMapper, Employment.Web.Mvc.Area.HelpDesk" name="Employment.Web.Mvc.Area.HelpDesk.Mappers.HelpDeskMapper">
      <lifetime type="transient" />
    </register>-->
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IReport, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.HelpDesk.Reports.ClaimReport, Employment.Web.Mvc.Area.HelpDesk" name="Employment.Web.Mvc.Area.HelpDesk.Reports.ClaimReport">
      <lifetime type="transient" />
    </register>
  </container>

  <!--
  <container name="Employment.Web.Mvc.Area.AdwAdmin">
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.AdwAdmin.Controllers.DefaultController, Employment.Web.Mvc.Area.AdwAdmin" name="Employment.Web.Mvc.Area.AdwAdmin.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.AdwAdmin.Mappers.AdwAdminMapper, Employment.Web.Mvc.Area.AdwAdmin" name="Employment.Web.Mvc.Area.AdwAdmin.Mappers.AdwAdminMapper">
      <lifetime type="transient" />
    </register>
  </container>
  <container name="Employment.Web.Mvc.Area.Admin">
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.DefaultController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.DefaultController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.ContainerController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.ContainerController">
      <lifetime type="transient" />
    </register>
    <register type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.AdwController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.AdwController">
      <lifetime type="transient" />
    </register>
    <register type="Employment.Web.Mvc.Infrastructure.Interfaces.IMapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Area.Admin.Mappers.AdminMapper, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Mappers.AdminMapper">
      <lifetime type="transient" />
    </register>
  </container>
  -->
  
</unity>
