<?xml version="1.0" encoding="utf-8"?>
<ioc>
  <types>
    <add   container="Employment.Web.Mvc.Infrastructure" type="Employment.Web.Mvc.Infrastructure.Interfaces.IClient, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.LocalClient, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.LocalClient" lifetime="singleton" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Ioc.Simple.Registrations.FilterAttributeFilterProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Ioc.Simple.Registrations.FilterAttributeFilterProviderRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ModelBinderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ModelBinderRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.FilterProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.FilterProviderRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.CachedModelMetadataProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.CachedModelMetadataProviderRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ModelValidatorProviderRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ModelValidatorProviderRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.AreaRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.AreaRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.AntiForgeryClaimRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.AntiForgeryClaimRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.GlobalFilterRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.GlobalFilterRegistration" lifetime="transient" />
    <add registerAll="true"  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Registrations.ViewEngineRegistration, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Registrations.ViewEngineRegistration" lifetime="transient" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IBuildManager, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Wrappers.BuildManagerWrapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Wrappers.BuildManagerWrapper" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IBootstrapper, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Ioc.Simple.SimpleInjectorBootstrapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Ioc.Simple.SimpleInjectorBootstrapper" lifetime="transient" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IConfigurationManager, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Wrappers.ConfigurationManagerWrapper, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Wrappers.ConfigurationManagerWrapper" lifetime="singleton" />
    <add registerAll="true" container="Employment.Web.Mvc.Infrastructure"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Infrastructure.Controllers.InfrastructureController, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Controllers.InfrastructureController" lifetime="transient" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.ISqlService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Profiled.SqlService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Profiled.SqlService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IAdwService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Profiled.AdwService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Profiled.AdwService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IMenuService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Profiled.MenuService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Profiled.MenuService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IAdwAdminService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.AdwAdminService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.AdwAdminService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.ICacheService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.HttpCacheService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.HttpCacheService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRuntimeCacheService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.HttpCacheService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.RuntimeCacheService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRouteRegistrationService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.RouteRegistrationService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.RouteRegistrationService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.ISessionService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Profiled.SessionService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Profiled.SessionService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IUserService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.UserService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.UserService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IDocumentReportService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.DocumentReportService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.DocumentReportService" lifetime="singleton"/>
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IHistoryService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.HistoryService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.HistoryService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IDashboardService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.DashboardService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.DashboardService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.Geospatial.IAddressService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.Geospatial.AddressService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.Geospatial.AddressService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.JobSeeker.IJobseekerSearchService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.JobSeeker.JobSeekerSearchService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.JobSeeker.JobSeekerSearchService" lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Infrastructure"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IBulletinService, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Infrastructure.Services.BulletinService, Employment.Web.Mvc.Infrastructure" name="Employment.Web.Mvc.Infrastructure.Services.BulletinService" lifetime="singleton" />

    <add registerAll="true" container="Employment.Web.Mvc.Zeus"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Zeus.Registrations.RouteRegistration, Employment.Web.Mvc.Zeus" name="Employment.Web.Mvc.Zeus.Registrations.RouteRegistration" lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Zeus"  type="Employment.Web.Mvc.Infrastructure.Interfaces.IRegistration, Employment.Web.Mvc.Infrastructure" mapTo="Employment.Web.Mvc.Zeus.Registrations.BundleRegistration, Employment.Web.Mvc.Zeus" name="Employment.Web.Mvc.Zeus.Registrations.BundleRegistration" lifetime="transient" />
    <add  registerAll="true" container="Employment.Web.Mvc.Zeus"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Zeus.Controllers.AjaxController, Employment.Web.Mvc.Zeus" name="Employment.Web.Mvc.Zeus.Controllers.AjaxController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Zeus"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Zeus.Controllers.DefaultController, Employment.Web.Mvc.Zeus" name="Employment.Web.Mvc.Zeus.Controllers.DefaultController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Zeus"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Zeus.Controllers.ErrorController, Employment.Web.Mvc.Zeus" name="Employment.Web.Mvc.Zeus.Controllers.ErrorController"  lifetime="transient" />

    <add  container="Employment.Web.Mvc.Service.Implementation" type="Employment.Web.Mvc.Service.Interfaces.Noticeboard.INoticeboardService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.Noticeboard.NoticeboardService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.Noticeboard.NoticeboardService"  lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Service.Implementation" type="Employment.Web.Mvc.Service.Interfaces.Notification.INotificationService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.Notification.NotificationService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.Notification.NotificationService"  lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Service.Implementation" type="Employment.Web.Mvc.Service.Interfaces.HelpDesk.IHelpDeskService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.HelpDesk.HelpDeskService"  lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Service.Implementation" type="Employment.Web.Mvc.Service.Interfaces.Provisioner.IProvisionerService, Employment.Web.Mvc.Service.Interfaces" mapTo="Employment.Web.Mvc.Service.Implementation.Provisioner.ProvisionerService, Employment.Web.Mvc.Service.Implementation" name="Employment.Web.Mvc.Service.Implementation.Provisioner.ProvisionerService"  lifetime="transient" />

    

    <add  container="Employment.Web.Mvc.Area.Example"  type="Employment.Web.Mvc.Area.Example.Service.Interfaces.IDummyService, Employment.Web.Mvc.Area.Example" mapTo="Employment.Web.Mvc.Area.Example.Service.Implementation.DummyService, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Service.Implementation.DummyService"  lifetime="singleton" />
    <add  container="Employment.Web.Mvc.Area.Example"  type="Employment.Web.Mvc.Area.Example.Service.Interfaces.IDataAccessService, Employment.Web.Mvc.Area.Example" mapTo="Employment.Web.Mvc.Area.Example.Service.Implementation.DataAccessService, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Service.Implementation.DataAccessService"  lifetime="singleton" />

    <!--
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.WorkflowController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.WorkflowController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.PagedGridController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.PagedGridController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.DefaultController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.DefaultController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.GridController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.GridController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.SelectionController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.SelectionController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.AddressController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.AddressController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.ButtonController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.ButtonController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Example"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Example.Controllers.DataAccessController, Employment.Web.Mvc.Area.Example" name="Employment.Web.Mvc.Area.Example.Controllers.DataAccessController"  lifetime="transient" />
 -->

    <add registerAll="true" container="Employment.Web.Mvc.Area.Admin"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.DefaultController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.DefaultController"  lifetime="transient" />
    <add registerAll="true" container="Employment.Web.Mvc.Area.Admin"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.ElmahController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.ElmahController"  lifetime="transient" />
    <!--<add registerAll="true" container="Employment.Web.Mvc.Area.Admin"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.AdwLookupController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.AdwLookupController"  lifetime="transient" />-->

    <!--<add registerAll="true" container="Employment.Web.Mvc.Area.Admin"  type="System.Web.Mvc.IController, System.Web.Mvc" mapTo="Employment.Web.Mvc.Area.Admin.Controllers.AdwLookupController, Employment.Web.Mvc.Area.Admin" name="Employment.Web.Mvc.Area.Admin.Controllers.AdwLookupController"  lifetime="transient" />-->
  </types>
</ioc>
