<?xml version="1.0" encoding="utf-8"?>
<menu>
  <tiles>
    <add order="0" areaName="Transition" displayName="Transition Support" hidden="false"/>
    <add order="1" areaName="Dashboard" displayName="Dashboard" hidden="false"/>
    <add order="2" areaName="Calendar" displayName="Calendar" hidden="false"/>
    <add order="3" areaName="JobSeeker" displayName="Job Seeker" hidden="false"/>
    <add order="4" areaName="Payment" displayName="Payments" hidden="false"/>
    <add order="5" areaName="Provider" displayName="Providers and Contracts" hidden="false"/>
    <add order="5" areaName="Contract" displayName="Contract" hidden="true"/>
    <add order="6" areaName="Activity" displayName="Activities" hidden="false"/>
    <add order="7" areaName="Overrides" displayName="Overrides" hidden="false"/>
    <add order="8" areaName="Employer" displayName="Employer and Vacancies" hidden="false"/>
    <add order="8" areaName="Vacancy" displayName="Vacancies" hidden="true"/>
    <add order="9" areaName="Document" displayName="Document Upload" hidden="false"/>
    <add order="10" areaName="Fund" displayName="Funds" hidden="false"/>
    <add order="11" areaName="Admin" displayName="Tools" hidden="false"/>
    <add order="12" areaName="Example" displayName="Example" hidden="false"/>
    <add areaName="Notification" displayName="Noticeboard" hidden="true"/>
    <add areaName="Fake" displayName="Fake" hidden="true"/>
  </tiles>
</menu>

