<?xml version="1.0"?>
<securitySettings>                                <!-- SecuritySetting Class-->
  <securityTypes>
    <security name="Foo" allowInProduction="false"> <!-- SecuritySection Class -->
      <roles>                                       <!-- RolesCollection Class -->   
        <add role="MY_RESOURCE_GROUP" />            <!-- Role Class -->
        <add role="MY_OTHER_RESOURCE_GROUP" />
      </roles>
      <users>                                       <!-- UsersCollection Class-->
        <add user="AA1234" />                       <!-- User Class-->
        <add user="ZZ5555" />
      </users>
      <organisationCodes>                           <!-- OrgCodesCollection Class-->
        <add code="INDU" />                         <!-- OrgCode Class-->
        <add code="LEON" />
        <add code="MMEG" />
      </organisationCodes>
      <contracts>                                   <!-- ContractsCollection Class-->
        <add contract="SSC" />                      <!-- Contract Class-->
      </contracts>
    </security>
  </securityTypes>
</securitySettings>

